<html>
<ul>
<% f.field_set do %>
	<%% column do %%>
		<% [:foo].each do |foo| %>
			<li>

				<span><%= t(:erb_1) %></span>
				<%#= comment
				     comment
				     comment  %>
			</li>
		<% end %>
		<br>

		<%- t(:erb_2) -%>

		<% t(:'foo.erb_3') %> <% bar %>
	<% end %>
<% end %>
</ul>
</html>